{% extends "layout.html" %}
    
    {% block title %}Sign In{% endblock %}


    {% block header %}Sign In{% endblock %}

    {% block header.content %} 
    <div class= "nav-bar-button-container">  
        <a class="nav-bar-link" href="{% url 'home' %}">Home</a>
    </div>
    {% endblock %}

    {% block container.content %}
        <h1>Sign In</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <button type="submit">Sign In</button>
        </form>

        {% for message in messages %}
            <div class="alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}

        {% for errors in form.non_field_errors %}
            <p class="error-message">{{ errors }}</p>
        {% endfor %}

        <a href="{% url 'sign_up' %}">Sign up instead</a>
 
    {% endblock %}
