{% extends "layout.html" %}
   
    {% block title %}
        Sign Up
    {% endblock %}

    {% block header %}Sign Up{% endblock %}
    
    {% block header.content %} 
    <div class= "nav-bar-button-container">  
        <a class="nav-bar-link" href="{% url 'home' %}">Home</a>
    </div>
    {% endblock %}

    {% block container.content %}
        <h1>Sign Up</h1>
        <form method="post" class="form-list">
            {% csrf_token %}
            {{form.username}}
            {{form.email}}
            {{form.password1}}
            {{form.password2}}
            <button type="submit">Sign Up</button>
        </form>
        {% for errors in form.errors.values %}
            {% for error in errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <a href="{% url 'sign_in' %}">Sign in instead</a>
    {% endblock %}
