@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --background-color: #1E1E1E;
    --foreground-color: #3A3A3A;
    --border-color: #5d5d5d;
    --tile-color: #2E2E2E;
    --accent-color:  #9b51e0;
    --textbox-color: #505050;
    --patten-color:var(--accent-color);
    --pattern-gradient-start:#9b51e0;
    --pattern-gradient-end:#d28eff;
    --pattern-gradient-highlight: rgb(93, 14, 14);

	--font-size: 16px;
}

body {
    background-color: var(--background-color);
    opacity: 1;
    background-image:  
    radial-gradient(circle at center, var(--pattern-gradient-start), var(--pattern-gradient-end)),  
    repeating-radial-gradient(circle at center, var(--pattern-gradient-highlight), var(--pattern-gradient-highlight), 31px, transparent 62px, transparent 31px);
    background-blend-mode: multiply;
	margin: 0;
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	height: 100vh; /* Full viewport height */
    color:  whitesmoke;
}

.nav-bar{
    display: flex;
	position: fixed; /* Keeps it at the top */
	top: 0;
	left: 100;
	width: 100vw;
    height: 10vh;
	background-color: var(--foreground-color);
	color: white;
    font-family: "Bebas Neue",sans-serif;
    border-color:var(--border-color);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.nav-bar > h1{
    margin: 0px;
    padding-left: 10px;
    align-self: center;
}

#nav-bar-page-title {
    color: var(--accent-color);
}


.nav-bar-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

}

.nav-bar-link{
    padding: 10px;
    color: var(--accent-color);
    text-align: right;
    padding-top: 20px;
    transition: transform 0.5s ease-in-out;
}

.nav-bar-link:hover{
    transform: scale(1.05);
    color: white;
}

.alert{
    padding-top: 10px;
    font-size: smaller;
}

.alert-success{
    padding-top: 10px;
    font-size: smaller;
    color: green !important;
}


a{
    color: var(--accent-color);
    
}

