{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" type="image/svg+xml" href="{% static 'images/icon/icon.svg' %}">

</head>
<body>
    <div class= "nav-bar">
        <h1>TASQUE/<span id = nav-bar-page-title>{% block header %}{% endblock %}</span></h1>
        {% block header.content %}{% endblock %}
    </div> 
    
    {% block content %}

    {% endblock %}
</body>
</html>